.jumbotron {
    text-align: center;
}

#suggested-friend-modal-body img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#home-instructions-card p:last-child {
    margin-bottom: 0;
}

#survey-form {
    margin-bottom: 20px;
}

.card-header {
    background-color: #4aaaa5;
    color: white;
}

.btn {
    background-color: #4aaaa5;
    border-color: #4aaaa5;
}

.jumbotron h4 {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 20px;
}