.jumbotron {
    text-align: center;
}

#suggested-friend-modal-body img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#home-instructions-card p:last-child {
    margin-bottom: 0;
}

#survey-form {
    margin-bottom: 20px;
}